:root {
  background-color: darkseagreen;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  margin: auto;
}

.layout-container {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  margin: auto;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-rows: 2fr 10fr 2fr 10fr 1fr;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "header header"
    "display display"
    "info-area action-button"
    "answer-area answer-area"
    "footer footer";
  gap: 0px;
  border: red 1px solid;
}

h1,
h2 {
  text-align: center;
}

header,
footer {
  background-color: bisque;
  width: 100%;
  text-align: center;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.action-button {
  grid-area: action-button;
}

.display {
  grid-area: display;
  border: red 1px solid;
  width: 50%;
  height: 75%;
}

.answer-area {
  grid-area: answer-area;
  width: 50%;
}

.info-area {
  grid-area: info-area;
}
